<div class="container-fluid" ng-controller="HomeController as hc">
  <div class="row">

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="hc.query">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div> <!-- input-group -->

  </div> <!-- end row -->
  <div class="row">
    <div class="col-sm-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Content</h3>
          <span class="pull-right clickable">
            <i class="fa fa-caret-square-o-up"></i>
          </span>
        </div>
        <div class="panel-body">
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Angular (12)</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Python (2)</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> CSS (4)</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Java (7)</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Inequity (8)</label>
          </div>
        </div> <!-- end panel-body -->
      </div> <!-- end panel -->

    </div> <!-- end col-sm-2 -->

    <div class="col-sm-7">

      <tabset>
        <tab select="hc.getProjects" ng-init="hc.getProjects" heading="Projects" active="Projects">
          <div class="card center-block" ng-repeat="pj in hc.projectList | filter:hc.query | orderBy:'-score'">
            <div class="title">
              <h2>{{pj.name}}</h2>
              <p>{{pj.description}}</p>
              <div class="rating pull-right">
                <i class="fa fa-caret-square-o-up" ng-click="{{pj.score}} += 1"></i>
                <i class="fa fa-caret-square-o-down" ng-click="{{pj.score}} += 1"></i>
                <h4>{{pj.score}}</h4>
              </div> <!-- end rating -->
            </div> <!-- end title -->
            <textarea name="" id="" rows="3" placeholder="Type you comment here..."></textarea>
            <button class="btn-btn-default">Tag</button>
            <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
            <div collapse="isCollapsed">
              <div class="well well-lg">
                <h3>Excited for this event!</h3>
                <h3>I'm going!</h3>
                <h3>Yuuuup!</h3>
                <h3>Heyyyooooo</h3>
              </div>
            </div>
          </div> <!-- end card -->
          <div class="text-center">
            <pagination total-items="hc.projectList.length" ng-model="hc.currentPage" items-per-page="hc.itemsPerPage" class="pagination-sm" ng-change="hc.pageChanged()"></pagination>
          </div>
         </tab> <!-- end projects tab -->

        <tab select="hc.getDataSet()" ng-click="hc.getDataSet()" heading="Data Set">
          <div class="card" ng-repeat="ds in hc.datasets | orderBy:'-score'">
            <h2>{{ds.name}}</h2>
            <h4>{{ds.description}}</h4>
            <div class="rating pull-right">
              <i class="fa fa-caret-square-o-up" ng-click="{{ds.score}} += 1"></i>
              <i class="fa fa-caret-square-o-down" ng-click="{{ds.score}} -= 1"></i>
              <h4>{{ds.score}}</h4>
            </div> <!-- end rating -->
            <a href="{{ds.link}}">{{ds.link}}</a>
            <button class="btn-btn-default">Tag</button>

          </div> <!-- end card -->
          <div class="center-block">
            <pagination total-items="hc.dataList.length" ng-model="hc.currentPage" items-per-page="hc.itemsPerPage" class="pagination-sm" ng-change="hc.pageChanged()"></pagination>
          </div>
        </tab> <!-- end data set tab -->

      </tabset> <!-- end tabset -->
    </div> <!-- end col-sm-5 -->

    <div class="col-sm-3">
      <!-- map goes here -->
      <h2 class="quotes">Quotes</h2>
      <blockquote>
      <h3>"Its absolutely essential to keep in touch after the hackathon...otherwise all these projects might fizzle out"</h3>
      <h4>-Mary Rick, CEO of Impact Kub</h4>
      </blockquote>
      <hr>
      <blockquote>
      <h3>"Kids could get a job because of Geeks for Good"</h3>
      <h4>-Jonathan Vary, a sponsor of Generous IT</h4>
      </blockquote>
      <hr>
      <blockquote>
      <h3>"Connecting people to ongoing tech proojects is the missing link"</h3>
      <h4>-Steven Clift, Ashoka Fellow</h4>
      <h4>Executive founder - E-democracy.org</h4>
      <blockquote>
    </div> <!-- end col-sm-5 -->

  </div> <!-- end row -->
</div> <!-- end container -->
