<div class="container-fluid" ng-controller="homeController as hc">
  <div class="row">

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->

  </div> <!-- end row -->
  <div class="row">
    <div class="col-sm-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Content</h3>
          <span class="pull-right clickable">
            <i class="glyphicon glyphicon-menu-up"></i>
          </span>
        </div>
        <div class="panel-body">
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Lorem (12)</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Ipsum (2)</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Porro (4)</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Quisquam (7)</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" class="icheck"> Dolorem (8)</label>
          </div>
        </div> <!-- end panel-body -->
      </div> <!-- end panel -->

    </div> <!-- end col-sm-2 -->

    <div class="col-sm-5">

      <tabset>
        <tab select="hc.getProjects" ng-init="hc.getProjects" heading="Projects" active="Projects">
          <div class="card" >
            <!-- ng-repeat="pj in hc.projects" -->
            <div class="title">
              <h2>{{pj.title}}</h2>
              <div class="rating pull-right">
                <i class="fa fa-caret-square-o-up" ng-click="hc.addScore()"></i>
                <i class="fa fa-caret-square-o-down" ng-click="hc.reduceScore()"></i>
                <p>{{pj.score}} 21</p>
              </div> <!-- end rating -->
            </div> <!-- end title -->
            <textarea name="" id="" rows="3"></textarea>
            <button class="btn-btn-default">Tag</button>
          </div> <!-- end card -->
         </tab> <!-- end projects tab -->

        <tab select="hc.getDataSet()" heading="Data Set">
          <div class="card">
             <!-- ng-repeat="ds in hc.dataset" -->
            <h2>{{ds.title}}</h2>
            <div class="rating pull-right">
              <i class="fa fa-caret-square-o-up" ng-click="hc.addScore()"></i>
              <i class="fa fa-caret-square-o-down" ng-click="hc.reduceScore()"></i>
              <p>{{pj.score}} 21</p>
            </div> <!-- end rating -->
            <a href="{{ds.link}}">{{ds.link}}</a>
            <button class="btn-btn-default">Tag</button>
          </div> <!-- end card -->
        </tab> <!-- end data set tab -->

      </tabset> <!-- end tabset -->
    </div> <!-- end col-sm-5 -->

    <div class="col-sm-5">
      <!-- map goes here -->
      <div id="map"></div>
    </div> <!-- end col-sm-5 -->

  </div> <!-- end row -->
</div> <!-- end container -->
