<div class="container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <div ng-if="messages.success" role="alert" class="alert alert-success">
        <div ng-repeat="success in messages.success">{{success.msg}}</div>
      </div>
      <form ng-submit="updateProfile()" class="form-horizontal">
        <legend>Profile Information</legend>
        <div class="form-group">
          <label for="email" class="col-sm-3">Email</label>
          <div class="col-sm-7">
            <input type="email" name="email" id="email" class="form-control" ng-model="profile.email">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-3">Name</label>
          <div class="col-sm-7">
            <input type="text" name="name" id="name" class="form-control" ng-model="profile.name">
          </div>
        </div>
        <div class="form-group">
          <label for="tags" class="col-sm-3">Tags</label>
          <div class="col-sm-7">
            <!-- <input type="text" name="tags" id="tags" class="form-control" ng-model="profile.tags"> -->
            <tags-input type="text" name="tags" id="tags" class="form-control" ng-model="profile.tags"></tags-input>
          </div>
        </div>
        <div class="form-group">
          <label for="location" class="col-sm-3">Location</label>
          <div class="col-sm-7">
            <input type="text" name="location" id="location" class="form-control" ng-model="profile.location">
          </div>
        </div>
        <div class="form-group">
          <label for="website" class="col-sm-3">Bio</label>
          <div class="col-sm-7">
            <input type="text" name="bio" id="bio" class="form-control" ng-model="profile.bio">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3">Profile Pic</label>
          <div class="col-sm-4">
            <img ng-src="https://media.licdn.com/media/p/5/005/07b/08e/3310267.jpg" class="profile" width="100" height="100">
          </div>
        </div>
        <div class="form-group">
          <div class="">
          </div>
          <div class="col-sm-offset-3 col-sm-4">
            <button type="submit" class="btn btn-info" ng-model="profile.profile_pic" ng-click="showPicker();">Upload Photo</button>
            <button type="submit" class="btn btn-success">Update Profile</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div style="margin-left: -15px;" class="container">
    <div class="panel">
      <div class="panel-body">
        <div class="">
          <legend for="">Contributions</legend>
          <label for="">Projects</label>
          <ul>
            <li>Geeks for Good</li>
            <li>Generous IT</li>
          </ul>
        </div>
        <div class="">
          <label for="">Reputation</label>
          <p>Rep Level: Super Geek</p>
          <div >
            Your level is Super Geek, you have 115 rep due to contributions within the community.
          </div>
        </div>
      </div>
    </div>
  </div> <!--end of container -->


  
  <!-- <div class="panel">
  <div class="panel-body">
  <form ng-submit="changePassword()" class="form-horizontal">
  <legend>Change Password</legend>
  <div class="form-group">
  <label for="password" class="col-sm-3">New Password</label>
  <div class="col-sm-7">
  <input type="password" name="password" id="password" class="form-control" ng-model="profile.password">
</div>
</div>
<div class="form-group">
<label for="confirm" class="col-sm-3">Confirm Password</label>
<div class="col-sm-7">
<input type="password" name="confirm" id="confirm" class="form-control" ng-model="profile.confirm">
</div>
</div>
<div class="form-group">
<div class="col-sm-4 col-sm-offset-3">
<button type="submit" class="btn btn-success">Change Password</button>
</div>
</div>
</form>
</div>
</div>
<div class="panel">
<div class="panel-body">
<div class="form-horizontal">
<legend>Linked Accounts</legend>
<div class="form-group">
<div class="col-sm-offset-3 col-sm-4">
</div>
</div>
</div>
</div>
</div>
<div class="panel">
<div class="panel-body">
<form ng-submit="deleteAccount()" class="form-horizontal">
<legend>Delete Account</legend>
<div class="form-group">
<p class="col-sm-offset-3 col-sm-9">You can delete your account, but keep in mind this action is irreversible.</p>
<div class="col-sm-offset-3 col-sm-9">
<button type="submit" class="btn btn-danger">Delete my account</button>
</div>
</div>
</form>
</div>
</div>
</div> -->
